{% extends 'base.html.twig' %}

{% block title %}{{ "ShoppingList index"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "ShoppingList index"|trans }}</h1>

    <table id="shoppingList_list" class="table table-striped">
        <thead>
            <tr>
                <th>{{ "Id"|trans }}</th>
                <th>{{ "Wording"|trans }}</th>
                <th>{{ "Store"|trans }}</th>
                <th>{{ "Description"|trans }}</th>
                <th>{{ "CreatedAt"|trans }}</th>
                <th>{{ "UpdatedAt"|trans }}</th>
                <th>{{ "actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for shopping_list in shopping_lists %}
            <tr>
                <td>{{ shopping_list.id }}</td>
                <td>{{ shopping_list.wording }}</td>
                <td>{{ shopping_list.store }}</td>
                <td>{{ shopping_list.description }}</td>
                <td>{{ shopping_list.createdAt ? shopping_list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ shopping_list.updatedAt ? shopping_list.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_shopping_list_shopping_list_show', {'id': shopping_list.id}) }}" class="btn btn-info"><i class="fas fa-eye"></i> {{ "show"|trans }}</a>
                    <a href="{{ path('app_admin_shopping_list_shopping_list_edit', {'id': shopping_list.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i> {{ "Edit"|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ "no records found"|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
