{% extends 'base.html.twig' %}

{% block title %}{{ "Store index"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "Store index"|trans }}</h1>

    <table id="store_list" class="table table-striped">
        <thead>
            <tr>
                <th>{{ "Id"|trans }}</th>
                <th>{{ "Wording"|trans }}</th>
                <th>{{ "Location"|trans }}</th>
                <th>{{ "CreatedAt"|trans }}</th>
                <th>{{ "UpdatedAt"|trans }}</th>
                <th>{{ "actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.id }}</td>
                <td>{{ store.wording }}</td>
                <td>{{ store.location }}</td>
                <td>{{ store.createdAt ? store.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ store.updatedAt ? store.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_store_show', {'id': store.id}) }}" class="btn btn-info"><i class="fas fa-eye"></i> {{ "show"|trans }}</a>
                    <a href="{{ path('app_admin_store_edit', {'id': store.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i> {{ "Edit"|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ "no records found"|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_store_new') }}" class="btn btn-primary"><i class="fas fa-plus"></i> {{ "Create new"|trans }}</a>
{% endblock %}
