{% extends 'base.html.twig' %}

{% block title %}{{ "Add shopping list item"|trans }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between my-5">
        <h1>{{ shopping_list.wording }} ajouter un produit</h1>
        <a href="{{ path('app_index') }}" class="btn btn-warning"><i class="fas fa-arrow-left"></i> retourner à la liste</a>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success"><i class="fas fa-pen"></i> {{ "Save"|trans }}</button>
    {{ form_end(form) }}

{% endblock %}