{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table id="category_list" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Wording</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.wording }}</td>
                <td>
                    <a href="{{ path('app_admin_category_show', {'id': category.id}) }}" class="btn btn-info"><i class="fas fa-eye"></i> show</a>
                    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i> Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_admin_category_new') }}"><i class="fas fa-plus"></i> Create new</a>
{% endblock %}
