{% extends 'base.html.twig' %}

{% block title %}{{ "New Product"|trans }}{% endblock %}

{% block body %}
    <h1>{{ "Create new Product"|trans }}</h1>

    {{ include('admin/product/_form.html.twig') }}

    <a href="{{ path('app_admin_product_index') }}" class="btn btn-warning"><i class="fas fa-arrow-left"></i> {{ "back to list"|trans }}</a>
{% endblock %}
